{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="{% static 'assets/img/favcion.png' %}" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/slicknav.min.css' %}" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/icofont.css' %}" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.carousel.css' %}" media="all" />
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}" media="all" />
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}" media="all" />
		
	</head>
<body>
    {% block content %}
    404 Not Found
    {% endblock %}





    <!-- jquery main JS -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<!-- Slick nav JS -->
		<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
		<!-- owl carousel JS -->
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
		<!-- Popup JS -->
		<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Isotope JS -->
		<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
		<!-- main JS -->
		<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>