{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Page loader -->
	    <div id="preloader"></div>
		<!-- header section include -->
        {% include 'includes/header.html' %}

        <div class="login-area">
			<div class="login-box">
				<a href="#"><i class="icofont icofont-close"></i></a>
				<h2>LOGIN</h2>
				<form action="#">
					<h6>USERNAME OR EMAIL ADDRESS</h6>
					<input type="text" />
					<h6>PASSWORD</h6>
					<input type="text" />
					<div class="login-remember">
						<input type="checkbox" />
						<span>Remember Me</span>
					</div>
					<div class="login-signup">
						<span>SIGNUP</span>
					</div>
					<a href="#" class="theme-btn">LOG IN</a>
					<span>Or Via Social</span>
					<div class="login-social">
						<a href="#"><i class="icofont icofont-social-facebook"></i></a>
						<a href="#"><i class="icofont icofont-social-twitter"></i></a>
						<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
						<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
						<a href="#"><i class="icofont icofont-camera"></i></a>
					</div>
				</form>
				
			</div>
		</div>
		<div class="buy-ticket">
			<div class="container">
				<div class="buy-ticket-area">
					<a href="#"><i class="icofont icofont-close"></i></a>
					<div class="row">
						<div class="col-lg-8">
							<div class="buy-ticket-box">
								<h4>Buy Tickets</h4>
								<h5>Seat</h5>
								<h6>Screen</h6>
								<div class="ticket-box-table">
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
									<table>
										<tr>
											<td>1</td>
										</tr>
										<tr>
											<td>2</td>
										</tr>
										<tr>
											<td>3</td>
										</tr>
										<tr>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
										</tr>
									</table>
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
									<table>
										<tr>
											<td>1</td>
										</tr>
										<tr>
											<td>2</td>
										</tr>
										<tr>
											<td>3</td>
										</tr>
										<tr>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
										</tr>
									</table>
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
								</div>
								<div class="ticket-box-available">
									<input type="checkbox" />
									<span>Available</span>
									<input type="checkbox" checked />
									<span>Unavailable</span>
									<input type="checkbox" />
									<span>Selected</span>
								</div>
								<a href="#" class="theme-btn">previous</a>
								<a href="#" class="theme-btn">Next</a>
							</div>
						</div>
						<div class="col-lg-3 offset-lg-1">
							<div class="buy-ticket-box mtr-30">
								<h4>Your Information</h4>
								<ul>
									<li>
										<p>Location</p>
										<span>HB Cinema Box Corner</span>
									</li>
									<li>
										<p>TIME</p>
										<span>2018.07.09   20:40</span>
									</li>
									<li>
										<p>Movie name</p>
										<span>Home Alone</span>
									</li>
									<li>
										<p>Ticket number</p>
										<span>2 Adults, 2 Children, 2 Seniors</span>
									</li>
									<li>
										<p>Price</p>
										<span>89$</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- header section end -->
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>Movie Detalied Page</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- transformers area start -->
		<section class="transformers-area">
			<div class="container">
				<div class="transformers-box">
					<div class="row flexbox-center">
						<div class="col-lg-5 text-lg-left text-center">
							<div class="transformers-content">
								<img src="{{ movie.poster.url }}" alt="{{ movie.title }}" />
							</div>
						</div>
						<div class="col-lg-7">
							<div class="transformers-content">
								<h2>{{ movie.title }}</h2>
								<p>Tags: {% for tag in movie.tags.all %} {{ tag.name }} {% endfor %}</p>
								<ul>
									<li>
										<div class="transformers-left">
											Movie:
										</div>
										<div class="transformers-right">
											<a href="#">{{ movie.category }}</a>
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Writer:
										</div>
										<div class="transformers-right">
											Stephen McFeely, Christopher Markus
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Director:
										</div>
										<div class="transformers-right">
											Joe Johnston
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Time: 
										</div>
										<div class="transformers-right">
											190m
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Release:
										</div>
										<div class="transformers-right">
											2018-07-22
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Language:
										</div>
										<div class="transformers-right">
											English, Russian
										</div>
									</li>
									
									<li>
										<div class="transformers-left">
											Share:
										</div>
										<div class="transformers-right">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
											<a href="#"><i class="icofont icofont-youtube-play"></i></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<a href="{{ movie.download_link }}" class="theme-btn" target="_blank"><i class="icofont icofont-ticket" ></i> Download</a>
				</div>
			</div>
		</section><!-- transformers area end -->
		<!-- details area start -->
		<section class="details-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="details-content">
							<div class="details-overview">
								<h2>Overview</h2>
								<p>{{ movie.description }}</p>
							</div>
							<div class="details-reply">
								<h2>Leave a Reply</h2>
								<form action="#">
									<div class="row">
										<div class="col-lg-4">
											<div class="select-container">
												<input type="text" placeholder="Name"/>
												<i class="icofont icofont-ui-user"></i>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="select-container">
												<input type="text" placeholder="Email"/>
												<i class="icofont icofont-envelope"></i>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="select-container">
												<input type="text" placeholder="Phone"/>
												<i class="icofont icofont-phone"></i>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="textarea-container">
												<textarea placeholder="Type Here Message"></textarea>
												<button><i class="icofont icofont-send-mail"></i></button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="details-comment">
								<a class="theme-btn theme-btn2" href="#">Post Comment</a>
								<p>You may use these HTML tags and attributes: You may use these HTML tags and attributes: You may use these HTML tags and attributes: </p>
							</div>
							<div class="details-thumb">
								<div class="details-thumb-prev">
									<div class="thumb-icon">
										<i class="icofont icofont-simple-left"></i>
									</div>
									<div class="thumb-text">
										<h4>Previous Post</h4>
										<p>Standard Post With Gallery</p>
									</div>
								</div>
								<div class="details-thumb-next">
									<div class="thumb-text">
										<h4>Next Post</h4>
										<p>Standard Post With Preview Image</p>
									</div>
									<div class="thumb-icon">
										<i class="icofont icofont-simple-right"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-center text-lg-left">
					    <div class="portfolio-sidebar">
							<img src="{% static "assets/img/sidebar/sidebar1.png" %}" alt="sidebar" />
							<img src="{% static "assets/img/sidebar/sidebar2.png" %}" alt="sidebar" />
							<img src="{% static "assets/img/sidebar/sidebar4.png" %}" alt="sidebar" />
						</div>
					</div>
				</div>
			</div>
		</section><!-- details area end -->
		
		<!-- ...existing code... -->
<!-- details area end -->

<!-- Horizontal Grid Scroll Section with Infinite Left/Right Toggle Buttons, left-aligned -->
<div style="position: relative; width: 90%; margin: 32px 0 32px 0; margin-left: 5%;">
    <!-- Left Button -->
    <button id="scrollLeftBtn" 
        style="position: absolute; left: -20px; top: 50%; transform: translateY(-50%); z-index: 2; background: #fff; border: none; box-shadow: 0 2px 8px rgba(0,0,0,0.1); border-radius: 50%; width: 40px; height: 40px; cursor: pointer;">
        &#8592;
    </button>
    <!-- Scrollable Grid -->
    <div id="horizontalScrollGrid" 
        style="display: flex; gap: 16px; overflow-x: auto; padding: 16px 0; scrollbar-width: none; scroll-behavior: smooth; -ms-overflow-style: none; scrollbar-width: none;">
        <div class="scroll-item" style="min-width: 200px; flex: 0 0 auto;">
            <img src="{% static 'assets/img/sidebar/sidebar1.png' %}" alt="sidebar1" style="width: 100%; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);" />
        </div>
        <div class="scroll-item" style="min-width: 200px; flex: 0 0 auto;">
            <img src="{% static 'assets/img/sidebar/sidebar2.png' %}" alt="sidebar2" style="width: 100%; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);" />
        </div>
        <div class="scroll-item" style="min-width: 200px; flex: 0 0 auto;">
            <img src="{% static 'assets/img/sidebar/sidebar3.png' %}" alt="sidebar3" style="width: 100%; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);" />
        </div>
        <div class="scroll-item" style="min-width: 200px; flex: 0 0 auto;">
            <img src="{% static 'assets/img/sidebar/sidebar4.png' %}" alt="sidebar4" style="width: 100%; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);" />
        </div>
        <!-- Add more items as needed -->
    </div>
    <!-- Right Button -->
    <button id="scrollRightBtn" 
        style="position: absolute; right: -20px; top: 50%; transform: translateY(-50%); z-index: 2; background: #fff; border: none; box-shadow: 0 2px 8px rgba(0,0,0,0.1); border-radius: 50%; width: 40px; height: 40px; cursor: pointer;">
        &#8594;
    </button>
</div>
<!-- Hide scrollbar for all browsers -->
<style>
    #horizontalScrollGrid::-webkit-scrollbar { display: none; }
    #horizontalScrollGrid { -ms-overflow-style: none; scrollbar-width: none; }
</style>
<!-- Infinite Smooth Scroll JS -->
<script>
    const scrollGrid = document.getElementById('horizontalScrollGrid');
    const leftBtn = document.getElementById('scrollLeftBtn');
    const rightBtn = document.getElementById('scrollRightBtn');
    const scrollAmount = 220; // px, adjust to match item width + gap

    function moveFirstToEnd() {
        const first = scrollGrid.children[0];
        scrollGrid.appendChild(first.cloneNode(true));
        scrollGrid.removeChild(first);
    }
    function moveLastToStart() {
        const last = scrollGrid.children[scrollGrid.children.length - 1];
        scrollGrid.insertBefore(last.cloneNode(true), scrollGrid.children[0]);
        scrollGrid.removeChild(last);
    }

    leftBtn.onclick = function() {
        moveLastToStart();
        scrollGrid.scrollTo({ left: scrollAmount, behavior: 'auto' });
        setTimeout(() => {
            scrollGrid.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
        }, 10);
    };
    rightBtn.onclick = function() {
        moveFirstToEnd();
        scrollGrid.scrollTo({ left: -scrollAmount, behavior: 'auto' });
        setTimeout(() => {
            scrollGrid.scrollBy({ left: scrollAmount, behavior: 'smooth' });
        }, 10);
    };
</script>
<!-- ...existing code... -->


















        {% include "includes/footer.html" %}

{% endblock %}